body{
  background-color: #2f3544;
}

.App {
    text-align: center;
}

.input-group{
  width: 60%;
}

.card{
  max-width: 60%;
}

.card-title{
  position: absolute;
  padding: 20px;
}

.card-date{
  position: absolute;
  padding: 20px;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;
}

.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 310px;
}

@media only screen and (max-width: 992px ) {
  
  .card{
    max-width: 80%;
  }
}

@media only screen and (max-width: 430px ) {

  .card-title{
    padding-left: 5.5rem;
    padding-top:8rem;
  }
  .card-date{
    padding-top: 7rem;
  }

  .card-temp{
    padding-top: 3rem;
  }

  .card-desc{
    padding-top: 3rem;
  }
}